<template>
  <div>
    <v-row>
      <v-card mb="8" >
        <v-card-title>Pivottable Demo</v-card-title>
        <vue-pivottable
          :data="pivotData"
          aggregator-name="Sum"
          renderer-name="Table Heatmap"
          :rows="['Party']"
          :cols="['Province']"
          :vals="['Age']"
        />
      </v-card>
    </v-row>
    <br>
    <br>
    <v-row>
      <v-card>
        <h3>Pivottable Ui Demo</h3>
        <vue-pivottable-ui
          :data="pivotData"
          aggregator-name="Sum"
          renderer-name="Table Heatmap"
          :rows="['Province','Party']"
          :cols="['Gender','Name']"
          :vals="['Age']"
        />
      </v-card>
    </v-row>
  </div>
</template>
<script>
import mps from './mps.json'
export default {
  name: 'PivotTable',
  data () {
    return {
      pivotData: mps
    }
  }
}
</script>

<style scoped>

</style>
