<template>
  <div>
    <div class="title">
      <h1>Vue Pivottable</h1>
      <small>Sample Dataset: Tips({{ filteredData.length }})</small>
    </div>
    <vue-pivottable-ui
      :data="data"
      :aggregator-name="aggregatorName"
      :renderer-name="rendererName"
      :table-color-scale-generator="colorScaleGenerator"
      :attributes="attributes"
      :rows="rows"
      :cols="cols"
      :vals="vals"
      :disabled-from-drag-drop="disabledFromDragDrop"
      :sortonly-from-drag-drop="sortonlyFromDragDrop"
      :hidden-from-drag-drop="hiddenFromDragDrop"
      :sorters="sorters"
      @onRefresh="onRefresh"
    >
      <div v-if="loading" slot="output">
        loading...
      </div>
      <template v-if="!loading" slot="output" slot-scope="{ pivotData }">
        {{ pivotData }}
      </template>
      <template slot="pvtAttr" slot-scope="{ name }">
        {{ name }}
      </template>
    </vue-pivottable-ui>
 </div>
</template>

<script>
import { PivotUtilities } from 'vue-pivottable'
import { scaleLinear } from 'd3-scale'

import tips from './tips'
import tips2 from './tips2'

export default {
  name: 'styled-pivottable',
  data () {
    return {
      PivotData: PivotUtilities.PivotData,
      filteredData: [],
      sortAs: PivotUtilities.sortAs,
      data: [],
      aggregatorName: 'Sum',
      rendererName: 'Table Heatmap',
      attributes: ['Unused 1', 'Meal', 'Payer Smoker', 'Day of Week', 'Payer Gender', 'Party Size'],
      rows: ['Payer Gender', 'Party Size'],
      cols: ['Meal', 'Payer Smoker', 'Day of Week'],
      vals: ['Total Bill'],
      disabledFromDragDrop: [], // ['Payer Gender'],
      hiddenFromDragDrop: ['Total Bill'],
      sortonlyFromDragDrop: [], // ['Party Size'],
      pivotColumns: ['Meal', 'Payer Smoker', 'Day of Week', 'Payer Gender', 'Party Size'],
      loading: false
    }
  },
  computed: {
    sorters () {
      return {
        'Day of Week': this.sortAs(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'])
      }
    }
  },
  watch: {
    pivotColumns: {
      handler (value, oldValue) {
        if (value.length === oldValue.length) { return }
        if (value.includes('Unused 1')) {
          this.loading = true
          setTimeout(() => {
            this.data = tips2
            this.loading = false
          }, 1000)
        } else {
          this.loading = true
          setTimeout(() => {
            this.data = tips
            this.loading = false
          }, 1000)
        }
      },
      deep: true,
      immediate: false
    }
  },
  created () {
    setTimeout(() => {
      this.data = tips
    }, 1000)
  },
  methods: {
    onRefresh (config) {
      const PivotData = this.PivotData
      this.filteredData = new PivotData(config).getFilteredData()
      this.pivotColumns = config.cols.concat(config.rows)
    },
    colorScaleGenerator (values) {
      const scale = scaleLinear()
        .domain([0, Math.max.apply(null, values)])
        .range(['#fff', '#7777ff'])
      return (x) => {
        return { 'background-color': scale(x) }
      }
    }
  }
}
</script>

<!--<style scoped>

.main {
  max-width: 980px;
  margin: 8vh auto 20px;
}
.title {
  text-align: center;
  margin-bottom: 20px;
}
h1 {
  margin-bottom: 0px;
}
.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
}
pre {
  text-align: left;
  background-color: #f8f8f8;
  padding: 1.2em 1.4em;
  line-height: 1.5em;
  margin: 60px 0 0;
  overflow: auto;
}
code {
  padding: 0;
  margin: 0;
}
footer {
  text-align: center;
  margin-top: 40px;
  line-height: 2;
}
</style>-->
