<template>
  <v-card >
    <v-simple-table >
      <template v-slot:default>
        <thead>
          <tr>
            <th class="text-left">
              Province
            </th>
            <th class="text-left">
              Party
            </th>
            <th class="text-left">
              Age
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="item in mps_data"
            :key="item.name"
          >
            <td>{{ item.Province }}</td>
            <td>{{ item.Party }}</td>
            <td>{{ item.Age }}</td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>
  </v-card>
</template>

<script>

export default {
  name: 'Index',
  data () {
    return {
      mps_data: [
        {
          Province: 'Quebec',
          Party: 'NDP',
          Age: 22,
          Name: 'Liu, Laurin',
          Gender: 'Female'
        },
        {
          Province: 'Quebec',
          Party: 'Bloc Quebecois',
          Age: 43,
          Name: 'Mourani, Maria',
          Gender: 'Female'
        },
        {
          Province: 'Quebec',
          Party: 'NDP',
          Age: 22,
          Name: 'Sellah, Djaouida',
          Gender: 'Female'
        },
        {
          Province: 'Quebec',
          Party: 'NDP',
          Age: 72,
          Name: 'St-Denis, Lise',
          Gender: 'Female'
        },
        {
          Province: 'British Columbia',
          Party: 'Liberal',
          Age: 71,
          Name: 'Fry, Hedy',
          Gender: 'Female'
        },
        {
          Province: 'Quebec',
          Party: 'NDP',
          Age: 70,
          Name: 'Turmel, Nycole',
          Gender: 'Female'
        },
        {
          Province: 'Ontario',
          Party: 'Liberal',
          Age: 68,
          Name: 'Sgro, Judy',
          Gender: 'Female'
        },
        {
          Province: 'Quebec',
          Party: 'NDP',
          Age: 67,
          Name: 'Raynault, Francine',
          Gender: 'Female'
        },
        {
          Province: 'Ontario',
          Party: 'Conservative',
          Age: 66,
          Name: 'Davidson, Patricia',
          Gender: 'Female'
        },
        {
          Province: 'Manitoba',
          Party: 'Conservative',
          Age: 65,
          Name: 'Smith, Joy',
          Gender: 'Female'
        },
        {
          Province: 'British Columbia',
          Party: 'Conservative',
          Age: 64,
          Name: 'Wong, Alice',
          Gender: 'Female'
        },
        {
          Province: 'New Brunswick',
          Party: 'Conservative',
          Age: 63,
          Name: "O'Neill Gordon, Tilly",
          Gender: 'Female'
        },
        {
          Province: 'Alberta',
          Party: 'Conservative',
          Age: 63,
          Name: 'Ablonczy, Diane',
          Gender: 'Female'
        }]
    }
  }
}
</script>

<style scoped>

</style>
