<template>
  <div>
    <v-row>
      <v-col md="6">
        <v-card>
          <v-card-title>
            Gradient Sparkline
          </v-card-title>
          <v-sparkline
            :value="value"
            :gradient="gradient"
            :smooth="radius || false"
            :padding="padding"
            :line-width="width"
            :stroke-linecap="lineCap"
            :gradient-direction="gradientDirection"
            :fill="fill"
            :type="type"
            :auto-line-width="autoLineWidth"
            auto-draw
          />
        </v-card>
      </v-col>
      <v-col md="6">
        <v-card>
          <v-card-title>
            SparkLine
          </v-card-title>
          <v-sparkline
            :value="value"
            :smooth="radius || false"
            :padding="padding"
            :line-width="width"
            :stroke-linecap="lineCap"
            :gradient-direction="gradientDirection"
            :fill="fill"
            :type="type"
            :auto-line-width="autoLineWidth"
            auto-draw
          />
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col md="6">
        <v-card>
          <v-card-title>
            Filled Gradient Sparkline
          </v-card-title>
          <v-sparkline
            :value="value"
            :gradient="gradient"
            :smooth="radius || false"
            :padding="padding"
            :line-width="width"
            :stroke-linecap="lineCap"
            :gradient-direction="gradientDirection"
            :fill="true"
            :type="type"
            :auto-line-width="autoLineWidth"
            auto-draw
          />
        </v-card>
      </v-col>
      <v-col md="6">
        <v-card>
          <v-card-title>
            Filled SparkLine
          </v-card-title>
          <v-sparkline
            :value="value"
            :smooth="radius || false"
            :padding="padding"
            :line-width="width"
            :stroke-linecap="lineCap"
            :gradient-direction="gradientDirection"
            :fill="true"
            :type="type"
            :auto-line-width="autoLineWidth"
            auto-draw
          />
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col md="6">
        <v-card>
          <v-card-title>
             Gradient SparkBar
          </v-card-title>
          <v-sparkline
            :value="value"
            :gradient="gradient"
            :smooth="false"
            :padding="padding"
            line-width="3"
            stroke-linecap="square"
            :gradient-direction="gradientDirection"
            :fill="true"
            type="bar"
            :auto-line-width="true"
            auto-draw
          />
        </v-card>
      </v-col>
      <v-col md="6">
        <v-card>
          <v-card-title>
             SparkBar
          </v-card-title>
          <v-sparkline
            :value="value"
            :smooth="false"
            :padding="padding"
            line-width="10"
            stroke-linecap="square"
            :gradient-direction="gradientDirection"
            :fill="true"
            type="bar"
            :auto-line-width="false"
            auto-draw
          />
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>
<script>
const gradients = [
  ['#222'],
  ['#42b3f4'],
  ['red', 'orange', 'yellow'],
  ['purple', 'violet'],
  ['#00c6ff', '#F0F', '#FF0'],
  ['#f72047', '#ffd200', '#1feaea']
]
export default {
  name: 'Sparkline',
  data: () => ({
    width: 2,
    radius: 10,
    padding: 8,
    lineCap: 'round',
    gradient: gradients[5],
    value: [0, 2, 5, 9, 5, 10, 3, 5, 1, 1, 1, 0, 2, 9, 0],
    gradientDirection: 'top',
    gradients,
    fill: false,
    type: 'trend',
    autoLineWidth: false
  })
}
</script>

<style scoped>

</style>
