<template>
  <div>
    <v-row>
      <v-col
        md="6"
      >
        <v-card
          outlined
          tile
        >
          <v-card-title>
            Line chart
          </v-card-title>
          <line-chart v-b-hover :data="lineChartData" :options="options" />
        </v-card>
      </v-col>

      <v-spacer />
      <v-col
        md="6"
      >
        <v-card
          outlined
          tile
        >
          <v-card-title>
            Bar chart
          </v-card-title>
          <bar-chart :data="BarChartData" :options="options" />
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col
        md="6"
      >
        <v-card
          outlined
          tile
        >
          <v-card-title>
            Pie chart
          </v-card-title>
          <pie-chart :data="PieChartData" :options="options" />
        </v-card>
      </v-col>

      <v-spacer />
      <v-col
        md="6"
      >
        <v-card
          outlined
          tile
        >
          <v-card-title>
            Doughnut chart
          </v-card-title>
          <doughnut-chart :data="DoughnutChartData" :options="options" />
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  name: 'VueChart',
  data () {
    return {
      lineChartData: {
        labels: [1, 2, 3, 4, 5, 6],
        datasets: [
          {
            label: 'Data One',
            data: [40, 20, 55, 32, 5.3, 60]
          }
        ]
      },
      BarChartData: {
        labels: ['January', 'February', 'Mars', 'April'],
        datasets: [
          {
            label: 'Months',
            backgroundColor: ['#f87979', '#082962', '#832e2e', '#159d0b'],
            data: [40, 20, 60, 10]
          }
        ]
      },
      PieChartData: {
        labels: ['Cats', 'Cars', 'Trees', 'hats', 'clocks'],
        datasets: [
          {
            backgroundColor: ['#e2cc75', '#466cb0', '#fc4646', '#159d0b', '#ec7b42'],
            data: [40, 20, 60, 10, 82]
          }
        ]
      },
      DoughnutChartData: {
        labels: ['Cats', 'Cars', 'Trees', 'hats', 'clocks'],
        datasets: [
          {
            backgroundColor: ['#e2cc75', '#466cb0', '#fc4646', '#159d0b', '#ec7b42'],
            data: [40, 20, 60, 10, 82]
          }
        ]
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        hover: true,
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    }
  }
}
</script>

<style scoped>

</style>
