<template>
  <div>
    <v-container
      class="col-md-6 off"
    >
      <carousel />
    </v-container>
  </div>
</template>

<script>
import Carousel from '@/components/Carousel'
export default {
  name: 'Index',
  components: { Carousel }
}
</script>

<style scoped>

</style>
