<template>
  <v-app dark>
    <v-navigation-drawer
      v-model="drawer"
      :mini-variant="miniVariant"
      :clipped="clipped"
      fixed
      app
    >
      <v-list>
        <v-list-item>
          <v-list-item-action>
            <v-avatar
              color="primary"
              size="35"
            >
              <img
                src="https://cdn.vuetifyjs.com/images/john.jpg"
                alt="John"
              >
            </v-avatar>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="user" />
          </v-list-item-content>
        </v-list-item>
        <v-list-group
          v-for="(item,index) of items"
          :key="index"
          :value="false"
          :prepend-icon="item.icon"
          @click.stop="miniVariant = false"
        >
          <template v-slot:activator>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </template>

          <v-list-item
            v-for="(child,index) in item.children"
            :key="index"
            :to="child.path"
            router
            exact
          >
            <v-list-item-icon>
              <!--             <v-icon v-text="item.icon"></v-icon>-->
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title v-text="child.title" />
            </v-list-item-content>
          </v-list-item>
        </v-list-group>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar
      :clipped-left="clipped"
      fixed
      app
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-btn
        icon
        @click.stop="miniVariant = !miniVariant"
      >
        <v-icon>mdi-{{ `chevron-${miniVariant ? 'right' : 'left'}` }}</v-icon>
      </v-btn>
      <v-toolbar-title v-text="title" />
      <v-spacer />
    </v-app-bar>
    <v-main>
      <v-container>
        <nuxt />
      </v-container>
    </v-main>

    <v-footer
      :absolute="!fixed"
      app
    >
      <span>&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  data () {
    return {
      clipped: false,
      drawer: true,
      fixed: false,
      user: 'John Connor',
      items: [
        {
          title: 'Home',
          icon: 'mdi-home',
          children: [
            {
              title: 'Welcome',
              path: '/'
            },
            {
              title: 'Inspire',
              path: '/inspire'
            }
          ]
        },
        {
          title: 'Tables',
          icon: 'mdi-table',
          children: [
            {
              title: 'simple table',
              path: '/tables/simple'
            },
            {
              title: 'Data table',
              path: '/tables/simple/datatable'
            },
            {
              title: 'pivot table',
              path: '/tables/pivot/pivot-table'
            },
            {
              title: 'custom pivot-table',
              path: '/tables/pivot/styled-pivottable'
            }

          ]
        },
        {
          title: 'UI Elements',
          icon: 'mdi-desktop-mac',
          children: [
            {
              title: 'Carousel',
              path: '/ui/carousel'
            },
            {
              title: 'expansion-panels',
              path: '/ui/expansion-panels'
            }
          ]
        },
        {
          title: 'Charts',
          icon: 'mdi-chart-box-outline',
          children: [
            {
              title: 'Sparklines',
              path: '/charts/sparkline'
            },
            {
              title: 'vue-chart',
              path: '/charts/vue-chart'
            }

          ]
        },
        {
          title: 'Additional',
          icon: 'mdi-layers',
          children: [
            {
              title: 'Login',
              path: '/admin/login'
            }
          ]
        }
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'Vuetify.js'
    }
  }
}
</script>
